content-based_routing_tutorial/target/classes/content-based_routing_tutorial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="content-based_routing_tutorialFlow1" doc:name="content-based_routing_tutorialFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="8081" doc:name="HTTP"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/favicon.ico']" doc:name="Expression"/>
        <set-variable variableName="operator" value="#[message.inboundProperties.'http.relative.path']" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.operator==CalculatorMul]">
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="demo#[payload]" method="POST" doc:name="Mul"/>
            </when>
            <when expression="#[flowVars.operator==CalculatorDiv]">
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="demo#[payload]" method="POST" doc:name="Div"/>
            </when>
            <when expression="#[flowVars.operator==CalculatorAdd]">
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="demo#[payload]" method="POST" doc:name="Add"/>
            </when>
            <when expression="#[flowVars.operator==CalculatorSub]">
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="demo#[payload]" method="POST" doc:name="Sub"/>
            </when>
            <otherwise>
                <logger message="#[payload]" level="INFO" doc:name="payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
